.who-we-are {
    font-family: 'Inter';
    padding-bottom: 50px;
  }
  
  .who-we-are-content {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
  }
  
  .who-we-are-content .left-side {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .left-side h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Inter';
    margin-bottom: 20px;
  }
  
  .left-side span {
    color: rgb(221, 4, 4);
    font-family: 'Inter';
  }
   
  .left-side h5 {
    color: rgb(228, 4, 4);
    font-size: 1.5rem;
    font-family: 'Inter';
    margin-bottom: 15px;
  }
  
  .who-we-are-content .right-side {
    position: relative;
    width: 48%;
  }
  .who-we-are-content p{
    line-height: 1.8;
  }
  
  .background {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .background::after{
    content: "";
    position: absolute;
    top: -28px;
    left: 31px;
    width: 100%;
    background-color:#DC0000;
    height: 100%;
    z-index: -1;
  }
  @media (max-width: 768px) {
    .who-we-are-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .who-we-are-content .left-side {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
    .who-we-are-content .right-side {
      width: 90%;
    }

  }