.password-reset-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #DC0000;
    padding: 30px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
}

.password-reset-container h2 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
}

.password-reset-form input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    background-color: #DC0000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}

.password-reset-form input::placeholder {
    color: #ffffff;
}

.submit-btn {
    padding: 10px 30px;
    background-color: #ffffff;
    color: #DC0000;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: #DC0000;
    border-color: #fff;
    color: #fff;
}

.error-message {
    color: #c8ff00;
    margin-top: 20px;
}

.success-message {
    color: #28a745;
    margin-top: 20px;
}
