.admin-panel {
  display: flex;
  height: 100vh;
  background-color: #f1f1f1;
}

.sidebar {
  width: 250px;
  background-color: #d32f2f;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;  /* Fix the sidebar to the left of the screen */
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;  /* Enable vertical scrolling */
  height: 100vh;  /* Full viewport height */
}

.sidebar-header {
  text-align: center;
}

.sidebar-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: left;
}

nav ul li {
  margin: 20px 0;
  background-color: #b71c1c;
  padding: 8px 4px;
  text-align: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  color: #8e8e8d;
}

/* Update Home Page Section */
.dropdown-btn {
  background: none;
  background-color: #b71c1c;
  border: none;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

.dropdown-btn:hover {
  color: #8e8e8d;
}

.dropdown-menu {
  padding-left: 20px;
}

.dropdown-menu li {
  font-size: 0.9rem;
  margin: 5px 0;
  background-color: #b71c1c;
  text-align: center;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 0.9rem;
}

.dropdown-menu li a:hover {
  color: #8e8e8d;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
  margin-left: 250px;  /* Ensure the content is not hidden behind the sidebar */
}
.logout-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #b71c1c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.logout-button:hover {
  background-color: #d32f2f;
}