.productcategory {
    padding: 90px 0px 50px;
}

.productcategory-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; /* Adds spacing between the cards */
}

.productcategory-wrapper .product-card {
    flex: 1 1 45%; /* Ensures two cards fit per row */
    max-width: 45%; /* Limits the width of each card */
}

.Complementarycategory {
    padding: 90px 0px 20px;
    background-color: #F2F2F2;
}

.Complementarycategory-wrapper {
    margin: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* Adds spacing between the cards */
}

.Complementarycategory-wrapper .complementary-card {
    flex: 1 1 45%; /* Ensures two complementary cards fit per row */
    max-width: 45%; /* Limits the width of each card */
}

.Complementarycategory h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #DC0000;
    border-bottom: 5px solid #DC0000;
    max-width: fit-content;
}
