.tech-box{
    width: 20%;
    position: relative;
    padding-left: 1%;
    text-align: center;
}
.tech-box::after{
    position: absolute;
    top: 0;
    right: 0;
    height:60px;
    width: 3px;
    content: "";
    background-color: #DC0000;
}
.tech-box:last-child::after{
    content: none;
}
.tech-box h3{
    font-size: 1.6rem;
    font-weight: 600;
    color: #DC0000;
}
.tech-box p{
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}