.footer-content {
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap; /* Allows elements to wrap on smaller screens */
}

.about-us {
    width: 30%;
    margin-bottom: 20px;
}

.altivex, .elevators, .contact {
    width: 20%;
    margin-bottom: 20px;
}

.footer-bottom {
    min-height: 60px;
    width: 100%;
    background-color: #e30613;
    padding: 10px 0;
}

.footer-content ul li {
    font-size: 1rem;
    margin: 20px 0px;
}

.about-us h4 {
    font-size: 3rem;
    font-weight: 700;
    border-bottom: #e30613 solid 5px;
    width: fit-content;
    margin-bottom: 20px;
}

.footer-content h5 {
    font-weight: 700;
    border-bottom: #e30613 solid 3px;
    width: fit-content;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    flex-wrap: wrap; /* Allows elements to wrap on smaller screens */
}

.footer-bottom-links {
    display: flex;
    align-items: center;
    color: white;
    width: 80%;
    flex-wrap: wrap; /* Allow links to wrap on smaller screens */
}

.footer-bottom-links li {
    margin-right: 5%;
}

.footer-bottom .social-icons {
    color: white;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-bottom .social-icons a:hover {
    color: #848181;
}

.footer-content .contact ul li span {
    margin-left: 20px;
}

/* Media Query for smaller devices like tablets and below */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        padding: 15px 10px;
    }
    .about-us, .altivex, .elevators, .contact {
        width: 100%;
        margin-bottom: 20px;
    }
    .footer-bottom-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom-links {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer-bottom .social-icons {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    .footer-bottom-links li {
        margin-right: 15px;
    }
    .about-us h4 {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }
    .footer-content h5 {
        font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
}

/* Media Query for extra small devices (phones in portrait mode) */
@media (max-width: 480px) {
    .footer-content {
        padding: 10px 5px;
    }
    .footer-bottom-content {
        flex-direction: column;
    }
    .footer-bottom-links {
        justify-content: center;
        width: 100%;
    }
    .footer-bottom .social-icons {
        width: 100%;
        justify-content: center;
    }
    .footer-bottom-links li {
        margin-right: 10px;
    }
    .about-us h4 {
        font-size: 2rem;
    }
    .footer-content h5 {
        font-size: 1.1rem;
    }
}
