.journey-section {
    font-family: 'Inter';
    padding: 50px 0px;
    position: relative;
    background-color: rgb(226, 225, 225);
}
.journey-content {
    display: flex;
    padding: 50px 0px;
    justify-content: space-between;
    align-items: center;
}
.journey-content .right {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Inter';
    margin-bottom: 20px;
}
.right span {
    color: rgb(221, 4, 4);
    font-family: 'Inter';
}
.journey-content .left {
    position: relative;
    width: 48%;
}
.bground {
    width: 100%;
    height: 100%;
    position: relative;
}
.bground::after {
    content: "";
    position: absolute;
    top: -28px;
    right: 40px;
    width: 100%;
    background-color: #DC0000;
    height: 100%;
    z-index: -1;
}
.journey-content p{
    line-height: 1.8;
}
@media (max-width:768px) {
    .journey-content {
        flex-direction: column;
    }
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .journey-content .left {
        width: 100%;
    }
    .journey-content .right {
        width: 90%;
    }
}